<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fanshawe College</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/effect.css">
    <link href="/static/form/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/static/form/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/static/form/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/form/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/static/form/css/main.css" rel="stylesheet" media="all">
    <script src="https://unpkg.com/scrollreveal"></script>
    <style type="text/css">
        .container1 {
            padding: 60px 50px;
        }
    </style>
</head>

<body>

    <header class="header">
        <div class="header-inner">
            <div class="container-fluid px-lg-5">
                <nav class="navbar navbar-expand-lg my-navbar">
                    <a class="navbar-brand" href="#"><span class="logo">
                        <img src="/static/image/logo.png" class="img-fluid"></span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin:5px 0px 0px 0px;"></i></span>
                     </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold" href="#">HOME<span class="sr-only"></span></a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="AboutUs/GetToKnowUs.html">ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bold" href="AboutUs/FAQ.html">FAQ</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <div class="showcase-btn"><button class="header-btn bg-danger my-2 my-sm-0 font-weight-bold" type="submit">Admin</button></div>
                        </form>
                    </div>

                </nav>
            </div>
        </div>
    </header>

    

    <section class="parallax-image img-fluid content-banner">
       
    </section> 
     

    
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-4 leftInfo text-center p-5">bmnjkllkt is my understanding that parametric polymorphism is a technique which allows uniform actions over a variety of data(types). Is my knowledge correct?Is this example parametric polymorphism? I believe it is since Animal.talk allows talk to be called despite the specific animal type (Cat or Dog).public interface Animal</div>
            <div class="col rightInfo p-5 bg-light">
                <h2 class="display-2 animate fadeInUp one font-weight-bold text-center">Hello, Welcome!</h2>
                <h3 class="animate fadeInUp one font-weight-bold text-center" >Submit Your Project Proposal Here!
                <a href="#arrow"> <span class=" box animate fadeInUp one glyphicon glyphicon-circle-arrow-down"></span> </a></h3>
                <br>
                <h5 class="animate fadeInUp one font-weight-bold text-center">Get to Know more about us here</h5><br>
                <div class="text-center"><button class="btn btn--radius-2 btn--red">Read More</button></div>
            </div>
        </div>
    </div> -->

    <div id="about" class="container1">
  <div class="row">
    <div class="col-sm-6" style="margin-bottom: 20px">
      <h1>Hello, Welcome!</h1><br>
      <h3>Submit Your Project Proposal Here! <a href="#arrow"> <span class=" box animate fadeInUp one glyphicon glyphicon-circle-arrow-down" style="color: red"></span> </a></h3>
      <h4>Get to know us more</h4><br>
      <button class="btn btn-danger btn-lg showcase-btn header-btn">About us</button><br>
    </div>

    <div class="col-sm-6 text-center" style="background-color: black; color:#ffffff; padding: 20px">
      <h4>bmnjkllkt is my understanding that parametric polymorphism is a technique which allows uniform actions over a variety of data(types). Is my knowledge lieve it is since Animal.talk allows talk to be called ism? I believe it is correct?Is this example parametric polymorphism? I believe it is since Animal.talk aed ism? I believe it is since Animal.talk allows talk to be called ism? I believe it is since Animal.talk allows talk to be called despite the specific animal type (Cat or Dog).public interface Animal</h4>
    </div>
  </div>
</div>

    <div class="page-wrapper bg-secondary p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 id="arrow" class="title">Project Proposal Form</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                         {% csrf_token %}
                        <div class="form-row ">
                           <div class="name info-left">Title</div> 
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="title" required>
                                </div>
                             </div>
                        </div>

                        <div class="form-row m-b-55">
                            <div class="name info-left">Name</div>
                            <div class="value info-right">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="fname" required>
                                            <label class="label--desc">first name</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="lname" required>
                                            <label class="label--desc">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name info-left">Phone</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="phone" required>
                                </div>
                            </div>
                        </div>
                        

                        <div class="form-row">
                            <div class="name info-left">Email</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email" required >
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name info-left">User Type</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="userType" required>
                                            <option disabled="disabled" selected="selected">Choose any option</option>
                                            <option> 1</option>
                                            <option> 2</option>
                                            <option> 3</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name info-left">Project Title</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="ptitle" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name info-left">Project Description</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="pdesc" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name info-left">Project Website</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="pwebsite" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name info-left">Comment</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="comment" required>
                                </div>
                            </div>
                        </div>
                        
                        <!--<div class="form-row">
                            <div class="name info-left">Status</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Choose any option</option>
                                            <option> Approved</option>
                                            <option> Rejected</option>
                                            <option> Split</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

						
						<div class="form-row">
                            <div class="name info-left">Who Referred you?</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="reference" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name info-left">Documents</div>
                            <div class="value info-right">
                                <div class="input-group">
                                    <input class="form-control form-control-lg" id="document" name="document" multiple type="file" />   
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="text-center">
                                <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                            </div>
                        </div>

                            <div style="padding-top:40px">
                                {%for message in messages %}
                                <div class="container">
                                <div style="width:600px" class="alert alert-success d-flex align-items-center text-center" role="alert">
                                <div class="text-center">
                                    <strong>Message : </strong> {{ message }}
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                    </form>
                </div>
                
            </div>
        </div>

    </div>

    <script src="js/jquery-3.6.0.min.js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script type="text/javascript">
        $(function() {
            var navbar = $('.header-inner');
            $(window).scroll(function() {
                if ($(window).scrollTop() <= 40) {
                    navbar.removeClass('navbar-scroll');
                } else {
                    navbar.addClass('navbar-scroll');
                }
            });
        });

        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 4000);
    </script>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="form/js/global.js"></script>   
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js"></script>

    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.showcase-btn',{
            duration: 2000,
            delay: 500,
            origin: 'bottom'
        });
        sr.reveal('.info-left',{
            duration:1000,
            origin:'left',
            distance:'300px',
            viewFactor: 0.2
        });
        sr.reveal('.info-right',{
            duration:1000,
            origin:'right',
            distance:'300px',
            viewFactor: 0.2
        });
        </script>
    </body>

</html>